/*
    Document   : stylesheet/nathan．css
    Created on : 2015-02-09 09:38 AM
    Author     : nathanlee
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

td{
    width: 50px;
    height: 50px;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    border: 1px;
    border-style: solid;
    border-color: black;
}

table{
    border: 3px;
    border-style: solid;
    border-color: black;
    padding: 0;
}

#formula{
    text-align: right;
}

.bar{
    height: 30px;
}

.display{
    background-color: #000000;
    color: #FFFFFF;
}

.operand{
    background-color: #2E2E2E;
}


.number{
    background-color: #424242;
}